* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, " sans-serif";
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  text-align: center;
}

.btn1 {
  background: #7d3973;
  padding: 10px 50px;
  margin-top: 20px;
}

.video-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.wrap {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34, 33, 33, 0.65);
  opacity: 0.80;
}

.header-content {
  padding: 0 5rem;
}

.title {
  margin: 5%;
  font-size: 300%;
}

.levelup-img {
  width: 40%;
}

.characteristic {
  font-size: 200%;
  color: #fff;
}

.composition {
  padding: 5rem 0;
  background-color: #fcf1fc;
}

.group {
  display: flex;
}

.ingredient {
  border-radius: 50%;
  max-width: 60%;
}

.subgroup {
  flex: 0.2;
}

.product {
  flex: 0.6;
  margin: auto;
}

.product img {
  width: 30%;
}

.ingredient-group {
  margin: 30px 0;
}

.reviews {
  background-color: #7d3973;
  color: #fff;
  text-align: center;
}

.carousel-inner {
  text-align: center;
  padding: 7%;
}

.testimonial-image {
  margin: 2%;
  width: 10%;
  border-radius: 100%;
  border: 1px solid black
}

.wrapper {
  display: flex;
}

.testimonial-text {
  margin: 5%;
}

.name {
  font-size: 120%;
}

.description {
  padding: 5rem 0;
  background-color: #fcf1fc;
}

.description p {
  text-align: left;
}

.description .characteristic {
  color: black;
}

.doctor {
  width: 50%;
}

.title1 {
  font-size: 300%;
}

.order {
  padding: 5% 0 5%;
}

.countdown {
  font-size: 400%;
}

.price {
  list-style-type: none;
  color: #fff;
  font-size: 200%;
}

.price499 {
  color: red;
  font-size: 400%;
}

@media screen and (max-width: 1000px) {
  .levelup-img {
    width: 130px;
  }

  .characteristic {
    font-size: 1.5rem;
  }

  .testimonial-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .btn1 {
    font-size: 1rem;
    margin-top: 50px;
  }

  .description p {
    text-align: center;
  }

  .characteristic {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .btn1 {
    margin-top: 20px;
  }

  .fullscreen-video-wrap {
    height: 130vh;
  }

  .header-overlay {
    height: 130vh;
  }

  .characteristic {
    font-size: .9rem;
  }

  .composition {
    padding: 0 0 3rem;
    padding-top: 8rem;
  }

  .product img {
    min-width: 80px;
  }

  .ingredient-group p {
    font-size: .8rem;
  }
}
